{% extends 'base.html' %}

{% block title %}Django{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="/static/django2.jfif" class="d-block w-100 mx-0" alt="...">
</div>

<hr class="featurette-divider my-4">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Want to be a Developer?<br> <span class="text-muted">Django will help you!.</span></h2>
        <p class="lead">Django is an open-source web framework that is written in Python. It was created about twelve years ago, but in December 2017 Django 2 was released with a whole new set of features and capabilities!
Django is an amazing framework for web developers because it provides the infrastructure required for database-driven websites that have user authentication, content administration, contact forms, file uploads, and more. Instead of creating all of these features from scratch, you can use the Django framework and utilize these components that are already built, and focus your time on developing your web app instead. Let start with the following courses to learn the python Django framework.
1. Python and Django Full Stack Web Developer Bootcamp
Learn to build websites with HTML , CSS , Bootstrap , Javascript , jQuery , Python 3 , and Django.
Welcome to the Python and Django Full Stack Web Developer Bootcamp! In this course we cover everything you need to know to build a website using Python, Django, and many more web technologies.
It will teach you the latest technologies for building great web applications with Python 3 and Django. But we don’t just teach that, we also teach the Front End technologies you need to know, including HTML, CSS, and Javascript. This course can be your one stop shop for everything you need! It will serve as a useful reference for many of your questions as you begin your journey in becoming a web developer.
Here is just a small sampling of the topics included in this course:
Python
Django Basics
Django Templates
Django Forms
Django Admin Customization
ORM
Class Based Views
REST APIs
User Authentication
HTML5
CSS3
Javascript
jQuery
Bootstrap 3 and 4
Document Object Model
2. Django 2 & Python | The Ultimate Web Development Bootcamp
Build three complete websites, learn back and front-end web development, and publish your site online with DigitalOcean.
I believe we learn best by doing. So, throughout this course you’ll be presented with coding quizzes and challenges in order for you to test what you just learned. This format will allow you to actually learn Django and not just follow along like a robot.
We will use Python in this course, so if you have never used Python before, we will start with a python refresher to get you up to speed (no other python experience required).</p>
      </div>
      <div class="col-md-5">
        <img src="/static/oldtown.jpg" class="d-block w-100 mx-0" alt="...">
      </div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Have you seen the Django Movie? <span class="text-muted">Yes you heard it right!</span></h2>
        <p class="lead">In early 1858 Texas, brothers Ace and Dicky Speck drive a group of shackled black slaves on foot. Among them is Django, sold off and separated from his wife Broomhilda von Shaft, a house slave who speaks German and English. They are stopped by Dr. King Schultz, a German dentist-turned-bounty hunter seeking to buy Django for his knowledge of the three outlaw Brittle brothers, overseers at the plantation of Django's previous owner and for whom Schultz has a warrant. When Ace levels his gun at him, Schultz kills him and wounds Dicky. Schultz insists on paying a fair price for Django before leaving Dicky to the newly freed slaves, who kill him and follow the North Star to freedom. Schultz offers Django his freedom and $75 in exchange for help tracking down the Brittles.

Django and Schultz kill the Brittle brothers at Spencer "Big Daddy" Bennett's Tennessee plantation. Bennett rounds up a posse whom Schultz ambushes with explosives, killing most of them while Django kills Bennett. Obliged to Django, Schultz takes him on as an apprentice and agrees to help him find and rescue Broomhilda. They return to Texas where Django collects his first bounty, keeping the handbill as a memento. He and Schultz rack up several bounties before spring, when they travel to Mississippi and learn that Broomhilda's new owner is Calvin J. Candie, the charming but cruel owner of the Candyland plantation, where slaves are forced to wrestle to the death in brutal "Mandingo" fights.

Schultz and Django hatch a plan. They know that if they offer to buy Broomhilda, Calvin will price her beyond reach, so they will instead offer $12,000 (equivalent to roughly $365,000 in 2018) for one of his best fighters as a pretext to acquiring Broomhilda for a nominal sum. They can then feign second thoughts about buying the fighter and leave with just Broomhilda. They meet Calvin at his gentleman's club and make the offer. Intrigued, Calvin invites them to Candyland plantation.

En route the group encounters Calvin's slave trackers who have cornered D'Artagnan, an escapee and disfigured Mandingo fighter. Calvin has Stonecipher sic attack dogs at D'Artagnan, who maul him to death. Having told Broomhilda of their plan, Schultz offers to buy her as his escort while negotiating the initial deal during dinner. Calvin's house slave Stephen realises that Broomhilda knows Django, accurately deduces their plan, and alerts Calvin. Calvin alters the deal at gunpoint so that Broomhilda will be bought for $12,000 instead of the fighter. Schultz reluctantly agrees. During the finalization of the sale, Calvin threatens to have Broomhilda shot if Schultz does not shake his hand and Schultz instead shoots him dead. Calvin's bodyguard kills Schultz, and Django goes on a rampage, killing the bodyguard, the lawyer, and several of Calvin's gunhands, but is forced to surrender when Stephen takes Broomhilda hostage.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/oldtown2.jpg" class="d-block w-100 mx-0" alt="...">
      </div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">How to learn Django <span class="text-muted">Here are the tips!</span></h2>
        <p class="lead">I quite often get asked for resources on where to learn Django. Here’s a list of the places I know!

The Deep End
First, a warning: there’s a lot of stuff to know. Learning Django with zero web or programming knowledge is diving in at the deep end. If you’ve never done anything like it, you’ll be learning about Python, databases, HTML, CSS, browsers, Git, Django, and more, all at the same time.

I’d recommend knowing how to build a static website before attempting to learn Django. There are many ways to do this, for free tutorials check out W3Schools or Learn Web Development from Mozilla.

But if you think you’re ready to begin, let’s continue.

Written Tutorials
First and foremost is the official “Start” page which links to several things, including the official tutorial. A warning: the tutorial is quite comprehensive, and is not really designed for zero-experience beginners. It also has some blind spots, for example it does not feature any advice on installing Python, or deploying your website to the actual internet.

The Django Girls tutorial is a full guide to creating and deploying a blog for free. This organization uses it to teach weekend workshops to women around the world, so it’s pretty battle-tested. I’d recommend this as easiest starting point for most.

I’ve also recently learned that Mozilla have a very complete tutorial in their learning area. They use a lot of Django so I expect this should be quite up to date.

If you’re building an API, Django Rest Framework is a popular Django package to help this. It has a quickstart tutorial for getting started.

Books
I can’t say I’ve read many of the books out there targeted at beginners, so I don’t want to endorse any in particular at the cost of the others. The Awesome Django project keeps a list of known certified “awesome” books though.

However I can say that I’ve enjoyed every version of Two Scoops of Django. It’s full of tips more suitable for those with a bit of experience, so if you’re just starting today, earmark it as an ice-cream themed present for yourself in the future.

Videos
I also can’t say I’ve watched a beginner’s video tutorial on Django, as I normally prefer to read. There are a lot listed on Awesome Django though.

What I have seen is a lot of conference talks, and most of these make their way to the web. Yes, you can sit on your sofa and watch talks that hundreds of developers spent lots of time and money travelling from around the world to see, all for free. The internet sounds absurd sometimes, but that really is the world we live in!</p>
      </div>
      <div class="col-md-5">
        <img src="/static/oldtown1.jpg" class="d-block w-100 mx-0" alt="...">
      </div>
    </div>
<hr class="featurette-divider">

{% endblock body %}