{% extends 'base.html' %}

{% block title %}DataScience{% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="/static/ds1.jfif" class="d-block w-100 mx-0" alt="...">
</div>
<hr class="featurette-divider my-4">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Data Science <br><span class="text-muted">What is Data Science?</span></h2>
        <p class="lead">Data science is an interdisciplinary field focused on extracting knowledge from data sets, which are typically large (see big data).[6] The field encompasses analysis, preparing data for analysis, and presenting findings to inform high-level decisions in an organization. As such, it incorporates skills from computer science, mathematics, statistics, information visualization, graphic design, and business.[7][8] Statistician Nathan Yau, drawing on Ben Fry, also links data science to human-computer interaction: users should be able to intuitively control and explore data.[9][10] In 2015, the American Statistical Association identified database management, statistics and machine learning, and distributed and parallel systems as the three emerging foundational professional communities.[11]

Relationship to statistics
Many statisticians, including Nate Silver, have argued that data science is not a new field, but rather another name for statistics.[12] Others argue that data science is distinct from statistics because it focuses on problems and techniques unique to digital data.[13] Vasant Dhar writes that statistics emphasizes quantitative data and description. In contrast, data science deals with quantitative and qualitative data (e.g. images) and emphasizes prediction and action.[14] Andrew Gelman of Columbia University and data scientist Vincent Granville have described statistics as a nonessential part of data science.[15][16]

Stanford professor David Donoho writes that data science is not distinguished from statistics by the size of datasets or use of computing, and that many graduate programs misleadingly advertise their analytics and statistics training as the essence of a data science program. He describes data science as an applied field growing out of traditional statistics.[17]

Etymology
Early usage
In 1962, John Tukey described a field he called “data analysis,” which resembles modern data science.[17] Later, attendees at a 1992 statistics symposium at the University of Montpellier II acknowledged the emergence of a new discipline focused on data of various origins and forms, combining established concepts and principles of statistics and data analysis with computing.[18][19]

The term “data science” has been traced back to 1974, when Peter Naur proposed it as an alternative name for computer science.[20] In 1996, the International Federation of Classification Societies became the first conference to specifically feature data science as a topic.[20] However, the definition was still in flux. In 1997, C.F. Jeff Wu suggested that statistics should be renamed data science. He reasoned that a new name would help statistics shed inaccurate stereotypes, such as being synonymous with accounting, or limited to describing data.[21] In 1998, Chikio Hayashi argued for data science as a new, interdisciplinary concept, with three aspects: data design, collection, and analysis.[22]</p>
      </div>
      <div class="col-md-5">
        <img src="/static/dataa3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Wanna be a Data Scientist<br> <span class="text-muted">Figure out what they do.</span></h2>
        <p class="lead">Data Scientists ranked first among the most promising jobs in the United States in 2019 as per LinkedIn’s report. According to the same report, Data Scientists averaged US$130,000 in the basic salary this year. Furthermore, the job vacancies increased by 56 percent from the last year. Currently, there are more than 4,000 Data Science vacancies across the country. No wonder: Data Scientists are led to the top as the best job in the United States, thanks to its high demand, high salaries, and high job satisfaction. Also, Analytics India Magazine predicts that the demand for Data Science professionals in India will increase sevenfold in the next seven years and the market will reach US$20 billion.

Thus, it is a high time you made a transition into Data Science by enrolling yourself in a definitive Data Scientist course.

But first, let’s take a look at the skills and qualifications you must have in place before jumping the gun. Here is a quick overview of what this blog will be all about:

Current Data Scientist Job Requirements
Data Scientist Qualifications That Companies Look for in a Candidate
Data Scientist Roles and Responsibilities:
Analytics
Collaboration
Business Understanding
Strategy/Design
Before delving into what the roles and responsibilities are of a Data Scientist, let us take a brief overlook on what companies expect from a Data Scientist.

Current Data Scientist Job Requirements
Current Data Scientist Job Requirements
The following is a summary of the Data Scientist roles and responsibilities from major job portals, including Indeed and Glassdoor. As a Data Scientist, you have to:

Work with stakeholders to determine how to use business data for valuable business solutions
Search for ways to get new data sources and assess their accuracy
Browse and analyze enterprise databases to simplify and improve product development, marketing techniques, and business processes
Create custom data models and algorithms
Use predictive models to improve customer experience, ad targeting, revenue generation, and more
Develop the organization’s test model quality and A/B testing framework
Coordinate with various technical/functional teams to implement models and monitor results
Develop processes, techniques, and tools to analyze and monitor model performance while ensuring data accuracy</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/dataa2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Keep yourself motivated <br><span class="text-muted">You can be a Data Scientist</span></h2>
        <p class="lead">I am pretty sure that many of us come across the article from the Harvard Business Review back in 2012. A data scientist is a professional known as the sexiest job of the 21st century. Also, research conducted by McKinsey Global Institute back in 2013 projected that there will be approximately 425,000 and 475,000 unfilled data analytics’ positions in North America by 2018. The take-home message here is that there will be a constant stream of analytic talent will be required in all industries, where companies collect and use data for their competitive advantages.
What exactly a data scientist?
In an over-simplified description, a data scientist is a professional who can work with a large amount of data and extract analytical insights. They communicate their findings to the stakeholders (i.e., senior leadership, management, and clients). Thus, companies can benefit from making the best-informed decisions to drive their business growth and profitability (i.e., depends on the context of industries).
Why is it so hard to become a data scientist?

The nature of data science is a hybrid of many disciplines. Where it composed of different subject areas like math (i.e., statistics, calculus, etc.), database management, data visualization, programming/software engineering, domain knowledge, etc. In my opinion, this may be the primary reason why people interested in jumping into the entry-level data science career often feel completely lost. Most people don’t know where to start because you may lack in one area completely or multiple areas depend on one’s educational background and work experience.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/dataa1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
<hr class="featurette-divider">

{% endblock body %}