{% extends 'base.html' %}

{% block title %}MachineLearning{% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="/static/ml1.jfif" class="d-block w-100 mx-0" alt="...">
</div>
<hr class="featurette-divider my-4">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">What is Machine Learning<br> <span class="text-muted">How it can be helpful for many sectors?</span></h2>
        <p class="lead">Because of new computing technologies, machine learning today is not like machine learning of the past. It was born from pattern recognition and the theory that computers can learn without being programmed to perform specific tasks; researchers interested in artificial intelligence wanted to see if computers could learn from data. The iterative aspect of machine learning is important because as models are exposed to new data, they are able to independently adapt. They learn from previous computations to produce reliable, repeatable decisions and results. It’s a science that’s not new – but one that has gained fresh momentum.
While many machine learning algorithms have been around for a long time, the ability to automatically apply complex mathematical calculations to big data – over and over, faster and faster – is a recent development. Here are a few widely publicized examples of machine learning applications you may be familiar with:

The heavily hyped, self-driving Google car? The essence of machine learning.
Online recommendation offers such as those from Amazon and Netflix? Machine learning applications for everyday life.
Knowing what customers are saying about you on Twitter? Machine learning combined with linguistic rule creation.
Fraud detection? One of the more obvious, important uses in our world today.

Machine Learning and Artificial Intelligence
While artificial intelligence (AI) is the broad science of mimicking human abilities, machine learning is a specific subset of AI that trains a machine how to learn. Watch this video to better understand the relationship between AI and machine learning. You'll see how these two technologies work, with useful examples and a few funny asides.
Why is machine learning important?
Resurging interest in machine learning is due to the same factors that have made data mining and Bayesian analysis more popular than ever. Things like growing volumes and varieties of available data, computational processing that is cheaper and more powerful, and affordable data storage.

All of these things mean it's possible to quickly and automatically produce models that can analyze bigger, more complex data and deliver faster, more accurate results – even on a very large scale. And by building precise models, an organization has a better chance of identifying profitable opportunities – or avoiding unknown risks.
 </p>
      </div>
      <div class="col-md-5">
        <img src="/static/mll1.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">What is neural network?<span class="text-muted"></span></h2>
        <p class="lead">Machines have brains. This, we already know. But increasingly, their brains are able to solve the sorts of problems that, until recently, humans were uniquely good at. Neural networks, as the name suggests, are modeled on neurons in the brain. They use artificial intelligence to untangle and break down extremely complex relationships.


What sets neural networks apart from other machine-learning algorithms is that they make use of an architecture inspired by the neurons in the brain. “A brain neuron receives an input and based on that input, fires off an output that is used by another neuron. The neural network simulates this behavior in learning about collected data and then predicting outcomes,” Mark Stadtmueller, VP of product strategy at AI platform provider Lucd, explains to CMS Wire.

It's fascinating, but before we go any deeper, let’s back up and look at neural networks in the context of artificial intelligence and machine learning.

Putting It In Context
Neural networks are one approach to machine learning, which is one application of AI. Let’s break it down.

Artificial intelligence is the concept of machines being able to perform tasks that require seemingly human intelligence.
Machine learning, as we’ve discussed before, is one application of artificial intelligence. It involves giving computers access to a trove of data and letting them search for optimal solutions. Machine learning algorithms are able to improve without being explicitly programmed. In other words, they are able to find patterns in the data and apply those patterns to new challenges in the future.
Deep learning is a subset of machine learning, which uses neural networks with many layers. A deep neural network analyzes data with learned representations akin to the way a person would look at a problem. In traditional machine learning, the algorithm is given a set of relevant features to analyze, however, in deep learning, the algorithm is given raw data and derives the features itself.


Deep Neural Networks
Neural networks can be created from at least three layers of neurons: The input layer, the hidden layer(s) and the output layer. The hidden layer — or layers — in between consist of many neurons, with connections between the layers. As the neural network “learns” the data, the weights, or strength, of the connections between these neurons are “fine-tuned,” allowing the network to come up with accurate predictions.

 </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/mll2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
<hr class="featurette-divider">
<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">What is AI? <br> <span class="text-muted">How is it related to Machine Learning?</span></h2>
        <p class="lead">Artificial intelligence and machine learning are the part of computer science that are correlated with each other. These two technologies are the most trending technologies which are used for creating intelligent systems.

Although these are two related technologies and sometimes people use them as a synonym for each other, but still both are the two different terms in various cases.

On a broad level, we can differentiate both AI and ML as:


AI is a bigger concept to create intelligent machines that can simulate human thinking capability and behavior, whereas, machine learning is an application or subset of AI that allows machines to learn from data without being programmed explicitly.
Artificial intelligence vs Machine learning
Below are some main differences between AI and machine learning along with the overview of Artificial intelligence and machine learning.

Artificial Intelligence
Artificial intelligence is a field of computer science which makes a computer system that can mimic human intelligence. It is comprised of two words "Artificial" and "intelligence", which means "a human-made thinking power." Hence we can define it as,

Artificial intelligence is a technology using which we can create intelligent systems that can simulate human intelligence.
The Artificial intelligence system does not require to be pre-programmed, instead of that, they use such algorithms which can work with their own intelligence. It involves machine learning algorithms such as Reinforcement learning algorithm and deep learning neural networks. AI is being used in multiple places such as Siri, Google?s AlphaGo, AI in Chess playing, etc.

Based on capabilities, AI can be classified into three types:

Weak AI
General AI
Strong AI
Currently, we are working with weak AI and general AI. The future of AI is Strong AI for which it is said that it will be intelligent than humans.

Machine learning
Machine learning is about extracting knowledge from the data. It can be defined as,

Machine learning is a subfield of artificial intelligence, which enables machines to learn from past data or experiences without being explicitly programmed.
Machine learning enables a computer system to make predictions or take some decisions using historical data without being explicitly programmed. Machine learning uses a massive amount of structured and semi-structured data so that a machine learning model can generate accurate result or give predictions based on that data.

Machine learning works on algorithm which learn by it?s own using historical data. It works only for specific domains such as if we are creating a machine learning model to detect pictures of dogs, it will only give result for dog images, but if we provide a new data like cat image then it will become unresponsive. Machine learning is being used in various places such as for online recommender system, for Google search algorithms, Email spam filter, Facebook Auto friend tagging suggestion, etc.

It can be divided into three types:

Supervised learning
Reinforcement learning
Unsupervised learning</p>
      </div>
      <div class="col-md-5">
        <img src="/static/mll3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
<hr class="featurette-divider">

{% endblock body %}